.nur{
    color: red;
    font-size:20px;
    font-weight:bold;
    background-color: black;
    padding: 12px 45px;
    border-radius: 7px;
}

.nur1{
    color: red;
    font-size:20px;
    font-weight:bold;
    background-color: black;
    padding: 12px 45px;
    border-radius: 7px;
    text-align: center;
}