<ion-header>
  <ion-toolbar>
    <ion-title>
      Nur Mohammed Murad
    </ion-title>
    <ion-button ngLink="['customer']">Click me</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div ngClass="nur">
   <h3>Nur Mohammed Murad</h3>
   <p>Who Are You ?</p>
  </div>

  <div>
    <h3 ngClass="nur1">Mohammed Nur</h3>
   </div>
   <div>
     <table border="1">
       <tr>
         <td>Name</td>
         <td>Father Name</td>
         <td>Mother Name</td>
       </tr>
       <tr>
        <td>Nur Mohammed Murad</td>
        <td>Mohammed Abul khair</td>
        <td>Khalida Akter</td>
      </tr>
      <tr>
        <td><a [routerLink]="['/customer']">Students</a></td>
        <td>Ahamed Asraf</td>
        <td>Amena khatun</td>
      </tr>
     </table>
   </div>
</ion-content>

